<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- TV 不需要触屏 -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <!-- 声明为 Leanback（Android TV / 盒子）应用，required=false 以便手机模拟器也能安装测试 -->
    <uses-feature android:name="android.software.leanback" android:required="false"/>

    <application
        android:label="MiniReel TV"
        android:name="${applicationName}"
        android:usesCleartextTraffic="true"
        android:enableOnBackInvokedCallback="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:banner="@drawable/tv_banner">
        <!-- 禁用 Impeller，回退 Skia：避免部分 TV 盒子/模拟器 Vulkan 视频纹理黑屏（与 debug 一致） -->
        <meta-data android:name="io.flutter.embedding.android.EnableImpeller" android:value="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <!-- TV 桌面（Leanback launcher）识别 -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
                <!-- 普通桌面 / 手机模拟器也能显示图标 -->
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
